body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}
.header{
    background-color: #232323;
    color: white;
    overflow: auto;
    border-bottom: 3px solid orangered;
    padding-top: 10px;
    padding-bottom: 10px;
}
.container {
    width: 80%;
    margin: auto;

}
.titulo {
    margin: 0;
    float: left;
    color: white;

}
.navbar {
        list-style: none;
        float: right;
        color: white;
        
}

.header .navbar li {
    float: left;
    margin-left: 10px;
    text-transform: uppercase;
}
.destaque {
    color: orange;
}

.banner {
    text-align: center;
    background-image: url(img/pexels-pixabay-373076.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 230px;
    border: 40px;
}
.banner2 {
    
    text-align: center;
    background-image: url(img/pexels-format-1029757.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 230px;
    border: 20px;
}

.banner2 h1 {
    margin: 0;
    font-size: 50px;
    padding-top: 0px;
    color: orange;
}

.banner2 h3 {
    color: grey;
    margin-bottom: 0;
}
.banner2 h1 {
    margin: 0;
    font-size: 50px;
    padding-top: 0px;
    color: orange;
}

.banner2 h3 {
    color: grey;
    margin-bottom: 0;
}

.saiba-mais button {
    border: 0;
    background-color: orangered;
    color: white;
    text-transform: uppercase;
    margin-top: 30px;
    padding: 10px 30px;
    border-radius: 20%;
    
}

.saiba-mais {
    text-align: center;
    background-color: #232323;
    height: 90px;
    margin-top: 0;
}

.box img {
    height: 200px;
    margin-bottom: 20px;
}

.box {
    border: 3px;
    overflow: auto;
}

.box-item {
    padding: 10px 20px;
    float: left;
    text-align: center;
}

.footer {
    background-color:#232323;
    padding-top: 2%;
    text-align: center;
    height: 180px;
}
.footer h4 {
    margin: 0;
    padding-top: 30px;
    font-weight: 100;
    color: whitesmoke;
}
a:link{
    text-decoration: none; 
}
a{
    color: white;
}
.box-sobre{
    padding: 10px 20px;
    text-align: center;
    margin-bottom: 3%;
}
.box-sobre img{
    align-content: center;
    height: 150px;
    margin-bottom: 20px;
    margin-top: 2%;
}